#navigation_elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    background-color: white;
}

#navigation_bar {
    height: 10%;
    width: 60%;
    background-color: white;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
}