#client_facing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px;

    background-color: aquamarine;

    height: 98vh;
    width: 99vw;
}

#header_container, #content_container, #footer_container {
    width: 100%;
}

#header_container {
    background-color: red;
    height: 15%;
}

#content_container {
    background-color: orange;
    height: 70%;
}

#footer_container {
    background-color: yellow;
    height: 15%;
}