#client_facing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px;

    background-color: aquamarine;

    height: 98vh;
    width: 99vw;
}