:root {
    --color_1: #53a2be;
    --color_2: #1D84B5;
    --color_3: #132E32;
    --color_4: #176087;
    --color_0: white;
}

#client_facing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 10px;

    background-color: aquamarine;

    height: 98vh;
    width: 99vw;
}

#header_container, #content_container, #footer_container {
    width: 100%;
}

#header_container {
    background-color: var(--color_1);
    height: 15%;
}

#content_container {
    background-color: var(--color_2);
    height: 70%;
}

#footer_container {
    background-color: var(--color_3);
    height: 15%;
}